{% extends "master.html" %}
{% block content %}

<!-- CONTAINER -->
<link href="{{ url_for('static', filename='css/questions.css') }}" rel="stylesheet" />

<div class="container-fluid align-items-center">
    <div class="row justify-content-center">
       <!-- FORMS -->
       <div class="col-lg-12">
        <div class="progress">
           <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 0%"></div>
        </div>
        <div id="qbox-container">
           <form class="needs-validation" id="form-wrapper" method="post" name="form-wrapper" novalidate="">
            <input type="text" hidden name="csrf_token" value="{{ csrf_token() }}">
              <div id="steps-container">
                 <div class="step">
                    <h4>Have you recently been in close contact with someone who has COVID-19?</h4>
                    <div class="form-check ps-0 q-box">
                       <div class="q-box__question">
                          <input class="form-check-input question__input" id="q_1_yes" name="q_1" type="radio" value="Yes"> 
                          <label class="form-check-label question__label" for="q_1_yes">Yes</label>
                       </div>
                       <div class="q-box__question">
                          <input checked class="form-check-input question__input" id="q_1_no" name="q_1" type="radio" value="No"> 
                          <label class="form-check-label question__label" for="q_1_no">No</label>
                       </div>
                    </div>
                 </div>
                 <div class="step">
                    <h4>Are you experiencing a high fever, dry cough, tiredness and loss of taste or smell?</h4>
                    <div class="form-check ps-0 q-box">
                       <div class="q-box__question">
                          <input class="form-check-input question__input" id="q_2_yes" name="q_2" type="radio" value="Yes"> 
                          <label class="form-check-label question__label" for="q_2_yes">Yes</label>
                       </div>
                       <div class="q-box__question">
                          <input checked class="form-check-input question__input" id="q_2_no" name="q_2" type="radio" value="No"> 
                          <label class="form-check-label question__label" for="q_2_no">No</label>
                       </div>
                    </div>
                 </div>
                 <div class="step">
                    <h4>Are you having diarrhoea, stomach pain, conjunctivitis, vomiting and headache?</h4>
                    <div class="form-check ps-0 q-box">
                       <div class="q-box__question">
                          <input class="form-check-input question__input" id="q_3_yes" name="q_3" type="radio" value="Yes"> 
                          <label class="form-check-label question__label" for="q_3_yes">Yes</label>
                       </div>
                       <div class="q-box__question">
                          <input checked class="form-check-input question__input" id="q_3_no" name="q_3" type="radio" value="No"> 
                          <label class="form-check-label question__label" for="q_3_no">No</label>
                       </div>
                    </div>
                 </div>
                 <div class="step">
                    <h4>Have you traveled to any of these countries with the highest number of COVID-19 cases in the world for the past 2 weeks?</h4>
                    <div class="row">
                       <div class="col-lg-6">
                          <div class="form-check ps-0 q-box">
                             <div class="q-box__question">
                                <input class="form-check-input question__input q-checkbox" id="q_4_uk" name="q_4" type="radio" value="United Kingdom"> 
                                <label class="form-check-label question__label" for="q_4_uk">UK</label>
                             </div>
                          </div>
                          <div class="form-check ps-0 q-box">
                             <div class="q-box__question">
                                <input class="form-check-input question__input" id="q_4_us" name="q_4" type="radio" value="United States"> 
                                <label class="form-check-label question__label" for="q_4_us">US</label>
                             </div>
                          </div>
                          <div class="form-check ps-0 q-box">
                             <div class="q-box__question">
                                <input class="form-check-input question__input" id="q_4_br" name="q_4" type="radio" value="Brazil"> 
                                <label class="form-check-label question__label" for="q_4_br">Brazil</label>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-6">
                          <div class="form-check ps-0 q-box">
                             <div class="q-box__question">
                                <input class="form-check-input question__input" id="q_4_de" name="q_4" type="radio" value="Germany"> 
                                <label class="form-check-label question__label" for="q_4_de">Germany</label>
                             </div>
                          </div>
                          <div class="form-check ps-0 q-box">
                             <div class="q-box__question">
                                <input class="form-check-input question__input" id="q_4_in" name="q_4" type="radio" value="india"> 
                                <label class="form-check-label question__label" for="q_4_in">India</label>
                             </div>
                          </div>
                          <div class="form-check ps-0 q-box">
                             <div class="q-box__question">
                                <input class="form-check-input question__input" id="q_4_eu" name="q_4" type="radio" value="Europe"> 
                                <label class="form-check-label question__label" for="q_4_eu">Europe</label>
                             </div>
                          </div>
                       </div>
                       <div class="col-lg-12">
                          <div class="form-check ps-0 q-box">
                             <div class="q-box__question">
                                <input class="form-check-input question__input" id="q_4_none" checked name="q_4" type="radio" value="none"> 
                                <label class="form-check-label question__label" for="q_4_none">I did not travelled to any of these countries</label>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div class="step">
                    <h4>Are you experiencing any of these serious symptoms of COVID-19 below? (Select all that apply)</h4>
                    <div class="row">
                       <div class="form-check ps-0 q-box">
                          <div class="q-box__question">
                             <input class="form-check-input question__input" id="q_5_breathing" checked name="q_5_breathing" type="checkbox" value="yes"> 
                             <label class="form-check-label question__label" for="q_5_breathing">Difficulty breathing or shortness of breath</label>
                          </div>
                       </div>
                       <div class="form-check ps-0 q-box">
                          <div class="q-box__question">
                             <input class="form-check-input question__input" id="q_5_chest" name="q_5_chest" type="checkbox" value="yes"> 
                             <label class="form-check-label question__label" for="q_5_chest">Chest pain or pressure</label>
                          </div>
                       </div>
                       <div class="form-check ps-0 q-box">
                          <div class="q-box__question">
                             <input class="form-check-input question__input" id="q_5_speech" name="q_5_speech" type="checkbox" value="yes"> 
                             <label class="form-check-label question__label" for="q_5_speech">Loss of speech or movement</label>
                          </div>
                       </div>
                       <div class="form-check ps-0 q-box">
                          <div class="q-box__question">
                             <input class="form-check-input question__input" id="q_5_pale" name="q_5_pale" type="checkbox" value="yes"> 
                             <label class="form-check-label question__label" for="q_5_pale">Pale, gray or blue-colored skin, lips or nail beds</label>
                          </div>
                       </div>
                       <div class="form-check ps-0 q-box">
                        <div class="q-box__question">
                           <input class="form-check-input question__input" id="q_5_none" name="q_5_none" type="checkbox" value="noneoftheabove" onchange="handleNoneOfTheAboveChange()"> 
                           <label class="form-check-label question__label" for="q_5_none">None of the above</label>
                        </div>
                     </div>
                    </div>
                 </div>
                 
                 <div class="step">
                    <div class="mt-1">
                       <div class="closing-text">
                          <h4>That's about it! Stay healthy!</h4>
                          <p>We will assess your information and will let you know soon if you need to get tested for COVID-19.</p>
                          <p>Click on the submit button to continue.</p>
                       </div>
                    </div>
                 </div>
                 <div id="success">
                    <div class="mt-5">
                       <h4>Success! We'll get back to you ASAP!</h4>
                       <p>Meanwhile, clean your hands often, use soap and water, or an alcohol-based hand rub, maintain a safe distance from anyone who is coughing or sneezing and always wear a mask when physical distancing is not possible.</p>
                       <a class="back-link" href="">Go back from the beginning ➜</a>
                    </div>
                 </div>
              </div>
              <div id="q-box__buttons">
                 <button id="prev-btn" type="button">Previous</button> 
                 <button id="next-btn" type="button">Next</button> 
                 <button id="submit-btn" type="submit">Submit</button>
              </div>
           </form>
        </div>
     </div>
    </div>
 </div>

 <div id="preloader-wrapper">
   <div id="preloader"></div>
   <div class="preloader-section section-left"></div>
   <div class="preloader-section section-right"></div>
</div>
 <script src="{{ url_for('static', filename='js/questions.js') }}"></script>
 

{% endblock %}